.image-wrapper {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative; }
  .image-wrapper .left-button {
    position: absolute;
    top: 15%;
    left: 0;
    font-size: 40px;
    cursor: pointer; }
  .image-wrapper .right-button {
    position: absolute;
    top: 15%;
    right: 0;
    font-size: 40px;
    cursor: pointer; }
  .image-wrapper .image-container {
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box; }
    .image-wrapper .image-container::-webkit-scrollbar {
      width: 1px; }
  .image-wrapper .margin-center {
    position: absolute;
    left: 25%;
    max-height: 90px; }
  .image-wrapper .image-slide {
    border: 1px solid;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 45%;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px; }
    .image-wrapper .image-slide .img-car {
      max-width: 90px;
      max-height: 90px; }
    .image-wrapper .image-slide input[type="file"] {
      display: none; }
    .image-wrapper .image-slide .custom-file-upload {
      border: none;
      cursor: pointer;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      width: 100%;
      height: 100%;
      padding: 0px;
      margin-bottom: 0; }
      .image-wrapper .image-slide .custom-file-upload label {
        padding: 0px; }
