.history-page {
  width: 100%;
  min-height: calc(100vh - 110px);
  padding-bottom: 20px; }
  .history-page .error-message {
    color: red; }
  .history-page .btn-add {
    margin: 8px;
    margin-left: auto; }
  .history-page .header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 52px;
    background-color: #ffffff; }
    .history-page .header .header-body {
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 24px; }
      .history-page .header .header-body .title {
        padding: 15px 24px 15px 0;
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #2e3e54; }
        @media (max-width: 429px) {
          .history-page .header .header-body .title {
            display: none !important; } }
      .history-page .header .header-body .tab-container .tab-item {
        cursor: pointer; }
        .history-page .header .header-body .tab-container .tab-item .tab-body {
          margin-left: auto;
          margin-right: auto;
          width: 70px; }
        .history-page .header .header-body .tab-container .tab-item .oval {
          padding-top: 17px;
          float: left;
          font-size: 20px;
          color: #ff6057;
          margin-right: 10px; }
        .history-page .header .header-body .tab-container .tab-item .tab-content {
          padding-top: 17px;
          font-size: 12px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #111111;
          text-align: center; }
        .history-page .header .header-body .tab-container .tab-item.active {
          border-bottom: 3px solid #ff6057; }
          .history-page .header .header-body .tab-container .tab-item.active .tab-content {
            font-size: 12px;
            font-weight: 600;
            color: #ff6057; }
  @media (max-width: 429px) {
    .history-page .action-container {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 429px) {
    .history-page .action-container .action-item {
      width: 50%; } }
  .history-page .filter-container {
    margin-top: 8px;
    border-radius: 8px;
    border: solid 1px rgba(17, 17, 17, 0.1);
    background-color: #ffffff;
    margin-bottom: 8px; }
    .history-page .filter-container .filter-item {
      cursor: pointer; }
      .history-page .filter-container .filter-item input {
        cursor: pointer; }
      .history-page .filter-container .filter-item .date-picker {
        max-width: 140px; }
      .history-page .filter-container .filter-item .react-datepicker__input-container input {
        width: 79px;
        height: 20px;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: right;
        color: #2e3e54;
        border: none; }
      .history-page .filter-container .filter-item .react-datepicker__time-container {
        width: 150px; }
        .history-page .filter-container .filter-item .react-datepicker__time-container .react-datepicker__time-box {
          text-align: left;
          width: 150px; }
      .history-page .filter-container .filter-item .icon-calendar {
        width: 24px;
        height: 24px;
        margin-left: 5px;
        margin-top: -3px; }
      .history-page .filter-container .filter-item.left {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .history-page .filter-container .filter-item.right {
        padding: 5px 8px 0 8px; }
      .history-page .filter-container .filter-item .select-wrapper {
        width: 90%; }
        .history-page .filter-container .filter-item .select-wrapper .select-controller {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #51647d;
          padding-left: 16px; }
          .history-page .filter-container .filter-item .select-wrapper .select-controller select {
            padding-right: 20px;
            width: 90%; }
            .history-page .filter-container .filter-item .select-wrapper .select-controller select:focus {
              background: transparent; }
      .history-page .filter-container .filter-item.left {
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .history-page .filter-container .filter-item .text {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #51647d; }
  .history-page .history-content-body {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    margin-top: 10px; }
    .history-page .history-content-body .empty {
      top: 50%;
      left: 50%; }
      .history-page .history-content-body .empty .icon-empty {
        width: 100px; }
      .history-page .history-content-body .empty .item {
        margin-top: 20px; }
      .history-page .history-content-body .empty .text {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #d6d7da;
        padding-top: 18px;
        padding-right: 20px; }
    .history-page .history-content-body .loading-container {
      top: 50%;
      left: 50%; }
    .history-page .history-content-body .content-item {
      cursor: pointer; }
      .history-page .history-content-body .content-item .item-card-container {
        display: flex;
        padding-bottom: 15px;
        border-bottom: solid 1px #d6d7da; }
        .history-page .history-content-body .content-item .item-card-container .item-image-container {
          border-radius: 2px;
          background-color: #f6f6f8;
          width: 80px;
          height: 60px; }
          .history-page .history-content-body .content-item .item-card-container .item-image-container .logo {
            width: 90%;
            height: 90%;
            margin: 5%; }
        .history-page .history-content-body .content-item .item-card-container .card-body {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-left: 10px; }
          .history-page .history-content-body .content-item .item-card-container .card-body .text {
            padding-bottom: 2px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.title {
              font-size: 14px;
              font-weight: 600;
              color: #2e3e54; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.date-time {
              font-size: 12px;
              line-height: 1.5;
              text-align: left;
              color: #51647d; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.price {
              font-size: 14px;
              font-weight: 600;
              line-height: 1.43;
              text-align: right;
              color: #51647d; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.sub-title {
              font-size: 14px;
              font-weight: 300;
              line-height: 1.5;
              color: #51647d; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.status {
              font-size: 14px;
              font-weight: normal;
              line-height: 1.43; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.accept {
              color: #248cfd; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.refuse {
              color: #ff6057; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.pending {
              color: #ffaa38; }
            .history-page .history-content-body .content-item .item-card-container .card-body .text.return {
              color: #02ad58; }

/*# sourceMappingURL=style.css.map */
