@import "../../assets/stylesheets/mixin";
.history-page {
  width: 100%;
  min-height: calc(100vh - 110px);
  padding-bottom: 20px;
  //background-color: #f6f6f6;
  .error-message {
    color: red;
  }
  .btn-add {
    margin: 8px;
    margin-left: auto;
  }
  .header {
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 52px;
    background-color: #ffffff;
    .header-body {
      margin-left: auto;
      margin-right: auto;
      padding-left: 16px;
      padding-right: 24px;
      .title {
        padding: 15px 24px 15px 0;

        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #2e3e54;
        @include mobile {
          display: none !important;
        }
      }
      .tab-container {
        .tab-item {
          cursor: pointer;
          .tab-body {
            margin-left: auto;
            margin-right: auto;
            width: 70px;
          }
          .oval {
            padding-top: 17px;
            float: left;

            font-size: 20px;
            color: #ff6057;
            margin-right: 10px;
          }
          .tab-content {
            padding-top: 17px;

            font-size: 12px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #111111;
            text-align: center;
          }

          &.active {
            border-bottom: 3px solid #ff6057;
            .tab-content {
              font-size: 12px;
              font-weight: 600;
              color: #ff6057;
            }
          }
        }
      }
    }
  }
  .action-container {
    @include mobile {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
    .action-item {
      @include mobile {
        width: 50%;
      }
    }
  }
  .filter-container {
    margin-top: 8px;
    border-radius: 8px;
    border: solid 1px rgba(17, 17, 17, 0.1);
    background-color: #ffffff;
    margin-bottom: 8px;
    .filter-item {
      //padding: 10px;
      cursor: pointer;
      input {
        cursor: pointer;
      }
      .date-picker {
        max-width: 140px;
      }
      .react-datepicker__input-container {
        input {
          width: 79px;
          height: 20px;

          font-size: 14px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          text-align: right;
          color: #2e3e54;
          border: none;
        }
      }
      .react-datepicker__time-container {
        width: 150px;
        .react-datepicker__time-box {
          text-align: left;
          width: 150px;
        }
      }
      .icon-calendar {
        width: 24px;
        height: 24px;
        margin-left: 5px;
        margin-top: -3px;
      }
      &.left {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      &.right {
        padding: 5px 8px 0 8px;
      }
      .select-wrapper {
        width: 90%;

        .select-controller {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #51647d;
          padding-left: 16px;
          select {
            padding-right: 20px;
            width: 90%;
            &:focus {
              background: transparent;
            }
          }
        }
      }

      &.left {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .text {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #51647d;
      }
    }
  }
  .history-content-body {
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    margin-top: 10px;
    .empty {
      top: 50%;
      left: 50%;
      .icon-empty {
        width: 100px;
      }
      .item {
        margin-top: 20px;
      }
      .text {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: #d6d7da;
        padding-top: 18px;
        padding-right: 20px;
      }
    }
    .loading-container {
      top: 50%;
      left: 50%;
    }
    .content-item {
      cursor: pointer;
      .item-card-container {
        display: flex;
        padding-bottom: 15px;
        border-bottom: solid 1px #d6d7da;
        .item-image-container {
          border-radius: 2px;
          background-color: #f6f6f8;
          //border: solid 1px #d6d7da;
          width: 80px;
          height: 60px;

          .logo {
            width: 90%;
            height: 90%;
            margin: 5%;
          }
        }

        .card-body {
          display: flex;
          flex-direction: column;

          width: 100%;
          margin-left: 10px;
          .text {
            padding-bottom: 2px;

            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            &.title {
              font-size: 14px;
              font-weight: 600;
              color: #2e3e54;
            }
            &.date-time {
              font-size: 12px;
              line-height: 1.5;
              text-align: left;
              color: #51647d;
            }
            &.price {
              font-size: 14px;
              font-weight: 600;
              line-height: 1.43;
              text-align: right;
              color: #51647d;
            }
            &.sub-title {
              font-size: 14px;
              font-weight: 300;
              line-height: 1.5;
              color: #51647d;
            }
            &.status {
              font-size: 14px;
              font-weight: normal;
              line-height: 1.43;
            }
            &.accept {
              color: #248cfd;
            }
            &.refuse {
              color: #ff6057;
            }
            &.pending {
              color: #ffaa38;
            }
            &.return {
              color: #02ad58;
            }
          }
        }
      }
    }
  }
}
