body {
  margin: 0;
}
html, body, #root {
  height: 100vh;
}

.app-container {
  height: 100%;
  .dashboard-container {
    padding-top: 32px;
    padding-bottom: 32px;
    height: calc(100% - 64px);
    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

}
