.create-product-page .form-control {
  margin-top: 16px; }
.create-product-page .description {
  margin-top: 48px; }
.create-product-page .file-input {
  display: none; }
.create-product-page .icon, .create-product-page .button {
  width: 34px;
  height: 34px; }
.create-product-page .button-file-container {
  display: flex;
  justify-content: center; }
.create-product-page .loading-container {
  width: 100%; }
.create-product-page .image-item {
  width: 100%;
  height: 200px;
  position: relative; }
  .create-product-page .image-item .image {
    width: 100%;
    height: 100%;
    object-fit: contain; }
.create-product-page .icon-container {
  position: absolute;
  top: 0;
  right: 0;
  backgroundColor: rgba(0, 0, 0, 0.08);
  padding: 3px; }
  .create-product-page .icon-container .close-icon {
    width: 15px;
    height: 15px;
    color: white; }
.create-product-page .button-container {
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=style.css.map */
