.create-product-page {
  .form-control {
    margin-top: 16px;
  }
  .description {
    margin-top: 48px;
  }
  .file-input {
    display: none;
  }
  .icon, .button {
    width: 34px;
    height: 34px;
  }
  .button-file-container {
    display: flex;
    justify-content: center;
  }
  .loading-container {
    width: 100%;
  }
  .image-item {
    width: 100%;
    height: 200px;
    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    position: relative;
  }
  .icon-container {
    position: absolute;
    top: 0;
    right: 0;
    backgroundColor: rgba(0, 0, 0, 0.08);
    padding: 3px;
    .close-icon {
      width: 15px;
      height: 15px;
      color: white;
    }
  }
  .button-container {
    margin-left: auto;
    margin-right: auto;
  }
}

