.paper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%; }

.avatar {
  margin: 8px;
  background-color: #dc004e; }

.form {
  width: 100%;
  margin-top: 8px; }

.summit {
  margin: 24px 0px 16px; }

.loading-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 1rem; }

/*# sourceMappingURL=style.css.map */
