$medium-laptop-width: 1181px;
$tablet-width: 769px;
$medium-mobile-width: 474px;
$mobile-width: 430px;
$large-laptop-width: 1441px;
$mobile-small-width: 377px;
$mobile-very-small-width: 322px;
@mixin medium-laptop { @media (max-width: #{$medium-laptop-width - 1px}) {
  @content;
} }

@mixin large-laptop { @media (max-width: #{$large-laptop-width - 1px}) {
  @content;
} }

@mixin medium-mobile{ @media (max-width: #{$medium-mobile-width - 1px}) {
  @content;
} }
@mixin mobile{ @media (max-width: #{$mobile-width - 1px}) {
  @content;
} }

@mixin mobile-small{ @media (max-width: #{$mobile-small-width - 1px}) {
  @content;
} }

@mixin mobile-very-small{ @media (max-width: #{$mobile-very-small-width - 1px}) {
  @content;
} }

@mixin tablet { @media (max-width: #{$tablet-width - 1px}) {
  @content;
} }
